html {
    /* background: url(https://i.imgur.com/rwElyFd.gif); */
    /* background: url(https://ak2.picdn.net/shutterstock/videos/1167682/thumb/1.jpg?i10c=img); */
    background: url(images/dope-wallpapers-tumblr-15.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000;
  
  }

body {
  font-family: 'Times New Roman', serif;
}

  #youtube {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  }

  #youtube iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  #youtube-4x3{
  padding-top: 75%;
  }

  #urbantext {
    word-wrap: break-word;
    margin-top:15px;
  }
  
  body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    background: transparent;
    font-size: 1.6em;
  }
  
  div.row {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 50px;
    margin: 60px;
      }
  
  img {
    max-width: 100%;
  }
  