html {
    /* background: url(https://i.imgur.com/rwElyFd.gif); */
    /* background: url(https://ak2.picdn.net/shutterstock/videos/1167682/thumb/1.jpg?i10c=img); */
    background: url(images/dope-wallpapers-tumblr-15.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000;
  
  }

body {
  font-family: 'Playfair Display', serif;

}

  #youtube {
    margin-top:15px;
    clear: both;
  }

  #urbantext {
    word-wrap: break-word;
    margin-top:15px;
  }
  
  body {
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    background: transparent;
    font-size: 1.6em;
  }
  
  div.row {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 50px;
    margin: 60px;
      }
  
  img {
    max-width: 100%;
  }
  
  
  .navbar {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
  }
  
  .navbar-default .navbar-brand {
    color: #000;
  }
  
  #navbar a {
    text-align: center;
    color: #000;
  }
  
  .navbar .nav > li > a {
    -webkit-transition: all ease .7s;
    -moz-transition: all ease .7s;
    -o-transition: all ease .7s;
    transition: all ease .7s;
  }
  
  #navbar .nav > li > a:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: #394652;
  }
  
  #navbar .nav > li.active > a {
      background-color: rgba(255, 255, 255, 0.8);
      color: #394652;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 0.8);
  }